<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SaveServlet</servlet-name>
        <servlet-class>Servlet.SaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Viewproduct</servlet-name>
        <servlet-class>Servlet.Viewproduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveFournisseur</servlet-name>
        <servlet-class>Servlet.SaveFournisseur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginClient</servlet-name>
        <servlet-class>Servlet.LoginClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginFour</servlet-name>
        <servlet-class>Servlet.LoginFour</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveProduit</servlet-name>
        <servlet-class>Servlet.SaveProduit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>Servlet.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProduct</servlet-name>
        <servlet-class>Servlet.EditProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProduct2</servlet-name>
        <servlet-class>Servlet.EditProduct2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>Servlet.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeProduct</servlet-name>
        <servlet-class>Servlet.ListeProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutPanier</servlet-name>
        <servlet-class>Servlet.AjoutPanier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditFour</servlet-name>
        <servlet-class>Servlet.EditFour</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditFour2</servlet-name>
        <servlet-class>Servlet.EditFour2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditClient</servlet-name>
        <servlet-class>Servlet.EditClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditClient2</servlet-name>
        <servlet-class>Servlet.EditClient2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewClient</servlet-name>
        <servlet-class>Servlet.ViewClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFour</servlet-name>
        <servlet-class>Servlet.ViewFour</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFour</servlet-name>
        <servlet-class>Servlet.DeleteFour</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteClient</servlet-name>
        <servlet-class>Servlet.DeleteClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommandeServlet</servlet-name>
        <servlet-class>Servlet.CommandeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeCommande</servlet-name>
        <servlet-class>Servlet.ListeCommande</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LivraisonServlet</servlet-name>
        <servlet-class>Servlet.LivraisonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LivraisonS</servlet-name>
        <servlet-class>Servlet.LivraisonS</servlet-class>
    
    </servlet>
    <servlet>
        <servlet-name>ListeLivraison</servlet-name>
        <servlet-class>Servlet.ListeLivraison</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAdmin</servlet-name>
        <servlet-class>Servlet.LoginAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeClient</servlet-name>
        <servlet-class>Servlet.ListeClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeFour</servlet-name>
        <servlet-class>Servlet.ListeFour</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveFournisseurAdmin</servlet-name>
        <servlet-class>Servlet.SaveFournisseurAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFour1</servlet-name>
        <servlet-class>Servlet.DeleteFour1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>Servlet.DeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveServlet</servlet-name>
        <url-pattern>/SaveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Viewproduct</servlet-name>
        <url-pattern>/Viewproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveFournisseur</servlet-name>
        <url-pattern>/SaveFournisseur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginClient</servlet-name>
        <url-pattern>/LoginClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginFour</servlet-name>
        <url-pattern>/LoginFour</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveProduit</servlet-name>
        <url-pattern>/SaveProduit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/DeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProduct</servlet-name>
        <url-pattern>/EditProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProduct2</servlet-name>
        <url-pattern>/EditProduct2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeProduct</servlet-name>
        <url-pattern>/ListeProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutPanier</servlet-name>
        <url-pattern>/AjoutPanier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditFour</servlet-name>
        <url-pattern>/EditFour</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditFour2</servlet-name>
        <url-pattern>/EditFour2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditClient</servlet-name>
        <url-pattern>/EditClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditClient2</servlet-name>
        <url-pattern>/EditClient2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewClient</servlet-name>
        <url-pattern>/ViewClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFour</servlet-name>
        <url-pattern>/ViewFour</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFour</servlet-name>
        <url-pattern>/DeleteFour</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteClient</servlet-name>
        <url-pattern>/DeleteClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommandeServlet</servlet-name>
        <url-pattern>/CommandeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeCommande</servlet-name>
        <url-pattern>/ListeCommande</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LivraisonServlet</servlet-name>
        <url-pattern>/LivraisonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LivraisonS</servlet-name>
        <url-pattern>/LivraisonS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeLivraison</servlet-name>
        <url-pattern>/ListeLivraison</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAdmin</servlet-name>
        <url-pattern>/LoginAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeClient</servlet-name>
        <url-pattern>/ListeClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeFour</servlet-name>
        <url-pattern>/ListeFour</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveFournisseurAdmin</servlet-name>
        <url-pattern>/SaveFournisseurAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFour1</servlet-name>
        <url-pattern>/DeleteFour1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
